{{ $key := "sidenote index" }}

{{- if not (.Page.Scratch.Get $key) -}}
{{ .Page.Scratch.Set $key 1 }}
{{- end -}}

{{ $index := .Page.Scratch.Get $key}}
<label for="sidenote-checkbox-{{$index}}" class="sidenote-label">{{ .Get 0 }} <sup>{{ $index }}</sup></label>
<input type="checkbox" class="sidenote-checkbox" id="sidenote-checkbox-{{$index}}">
<span class="sidenote"><strong>{{ $index }}.</strong> <span class="sidenote-content">{{ .Inner | markdownify
        }}</span></span>

{{ .Page.Scratch.Set $key (add (.Page.Scratch.Get $key) 1) }}